In [4]:
import warnings
warnings.filterwarnings("ignore")
import pandas as pd
data=pd.read_csv('Fvote.csv', encoding='utf-8')
data.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1

In [6]:
X=data[data.columns[0:13]]

In [8]:
y=data[["vote"]]

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test=train_test_split(X, y, stratify=y, random_state=42)

In [14]:
print(X_train.shape)
print(X_test.shape)

(158, 13)
(53, 13)

In [17]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [22]:
from sklearn.model_selection import cross_val_score
scores=cross_val_score(model, X_train, y_train, cv=5)
print("5개 테스트 셋 정확도:", scores)
print("정확도 평균:", scores.mean())

5개 테스트 셋 정확도: [0.71875    0.6875     0.8125     0.58064516 0.80645161]
정확도 평균: 0.7211693548387096

In [26]:
from sklearn.model_selection import KFold
kfold=KFold(n_splits=5, shuffle=True, random_state=42)
score=cross_val_score(model, X_train, y_train, cv=kfold)
print("5개 폴드의 정확도:", score)

5개 폴드의 정확도: [0.71875    0.6875     0.625      0.70967742 0.77419355]

In [31]:
from sklearn.model_selection import ShuffleSplit
shuffle_split=ShuffleSplit(test_size=0.5, train_size=0.5, random_state=42)
score=cross_val_score(model, X_train, y_train, cv=shuffle_split)
print("교차검증 정확도:", score)

교차검증 정확도: [0.73417722 0.69620253 0.70886076 0.73417722 0.65822785 0.67088608
 0.72151899 0.65822785 0.69620253 0.70886076]

In [33]:
from sklearn.model_selection import train_test_split
X_train_val, X_test, y_train_val, y_test=train_test_split(X, y, random_state=1)
X_train, X_valid, y_train, y_valid=train_test_split(X_train_val, y_train_val, random_state=2)

In [35]:
model.fit(X_train, y_train)
scores=cross_val_score(model, X_train, y_train, cv=5)
print("교차검증 정확도:", scores)
print("정확도 평균:", scores.mean())

교차검증 정확도: [0.58333333 0.66666667 0.70833333 0.65217391 0.65217391]
정확도 평균: 0.652536231884058

In [37]:
model.score(X_valid, y_valid)

0.65

In [38]:
model.score(X_test, y_test)

0.6981132075471698