In [7]:
import pandas as pd
data=pd.read_csv('Fvote.csv', encoding='utf-8')
data.head()

,gender_female,gender_male,region_Chungcheung,region_Honam,region_Others,region_Sudo,region_Youngnam,edu,income,age,score_gov,score_progress,score_intention,vote,parties,region
0,0,1,0,0,0,0,1,3,3,3,2,2,4.0,1,2,Youngnam
1,0,1,0,0,1,0,0,2,3,3,2,4,3.0,0,3,Others
2,0,1,0,1,0,0,0,1,2,4,1,3,2.8,1,4,Honam
3,1,0,0,0,0,1,0,2,1,3,5,4,2.6,1,1,Sudo
4,0,1,0,0,0,1,0,1,2,4,4,3,2.4,1,1,Sudo

In [9]:
x=data[data.columns[1:13]]
y=data[['vote']]

In [5]:
from sklearn.linear_model import LogisticRegression

In [11]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test=train_test_split(x,y, stratify=y, random_state=42)

In [13]:
Final_model=LogisticRegression(C=10)
Final_model.fit(x_train, y_train)

C:\Users\m\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=10)

In [15]:
pred_train=Final_model.predict(x_train)
Final_model.score(x_train, y_train)

0.740506329113924

In [17]:
pred_test=Final_model.predict(x_test)
Final_model.score(x_test,y_test)

0.6792452830188679

In [19]:
from sklearn.metrics import confusion_matrix
confusion_train=confusion_matrix(y_train, pred_train)
print("훈련데이터 오차행령:\n", confusion_train)

훈련데이터 오차행령:
 [[ 12  34]
 [  7 105]]

In [20]:
from sklearn.metrics import classification_report
cfreport_train=classification_report(y_train, pred_train)
print("분류예측 레포트:\n", cfreport_train)

분류예측 레포트:
               precision    recall  f1-score   support

           0       0.63      0.26      0.37        46
           1       0.76      0.94      0.84       112

    accuracy                           0.74       158
   macro avg       0.69      0.60      0.60       158
weighted avg       0.72      0.74      0.70       158