In [9]:
#판다스 넘파이 변환
import pandas as pd
df=pd.read_csv('EX_GrapeData.csv')
df.head()
df_num=df.to_numpy()
df_num
df_pd = pd.DataFrame(df_num)
df_pd.head()
df_pd2 = pd.DataFrame(data = df_num, columns = ["cotinent", "brand", "size", "period", "바보"])
df_pd2.head()

  cotinent brand  size period   바보
0        2     2  10.7  47.65  144
1        2     3  14.0  63.13  215
2        2     2   9.0  58.76  105
3        1     1   8.0  34.88   69
4        2     2  10.0  55.53  134